<div class="header-section"  [ngStyle]="{'background-image': 'url(' + video + ')'}">
  <app-navbar></app-navbar>
  <div class="header-content">
    <h1>{{header}}</h1>
  </div>
  <!-- <div class="header-buttons">
    <button class="btn-outline">Hire Me</button>
    <button class="btn-play">My service</button>
  </div> -->
</div>





<!-- <div class="header-section" >
  <video id="background-video" autoplay loop muted >
    <source [src]="video" type="video/mp4">
  </video>
  <app-navbar></app-navbar>
  <div class="header-content">
    <h1 >{{header}}</h1>
  </div>
 <div class="header-buttons">
    <button class="btn-outline">Hire Me</button>
    <button class="btn-play">My service</button>
  </div>
</div> -->
