<div class=" Showcases-Introduction">
    <div class="row Showcases-Introduction-container" >
      <div class="col-lg-12 Showcases-Introduction-content-container" data-aos="flip-up" data-aos-duration="1000">
        <p id="Colored-header">{{header}}</p>
        <h1>
          {{description}}
        </h1>
      </div>
      <div class="col-lg-12">
        <div class="img-container-gradient"  data-aos="fade-left" data-aos-duration="1200">
          <div class="gradient-overlay"></div>
          <img [src]="image" alt="">
        </div>
      </div>

    </div>
</div>
<!-- Working as Full-Stack Web Develope -->
