<div class="home-cards-section d-flex flex-column gap-5"  data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">
  <h1 style="text-align: center; font-size: 70px; font-family: 'billie';">{{HomeCardHeader}}</h1>
  <div class="row w-100 home-card-container gap-3">
    <div class="Home-card col-sm-12  col-lg-12 col-xl-3 " *ngFor="let card of Cards">
      <div class="card-content">
        <h1>{{card.cardTitle}}</h1>
        <p>{{card.cardDescription}}</p>
      </div>
 <div class="card-button">
        <button (click)="(navigationLink(card.cardLink))">Github</button>
    </div>
  </div>
</div>
