<div class="Home-about-section">
  <div class="row h-100">
    <div class="col-lg-6 col-md-12 home-about-content-container" data-aos="flip-left" data-aos-duration="1500">
      <div class="home-about-content w-100">
        <h1>About me</h1>
        <p>I am a passionate Full-Stack Developer with a strong foundation in modern web technologies ,I honed my skills in various programming languages and developed a deep understanding of software development. My curiosity for solving complex problems led me to specialize in Full-Stack Development , I am committed to turning ideas into reality by crafting seamless web experiences and leveraging data to drive decision-making. </p>
        <button (click)="onNvigate()">About me</button>
      </div>
    </div>

    <div class="col-lg-1 d-none d-lg-block"></div>

    <div class="col-lg-5 col-md-12 home-about-img" data-aos="fade-left" data-aos-duration="1500">
      <div class="scroll-container w-100">
        <img src="/assets/images/Astronaut.jpg" alt="Scrolling Image">
      </div>
    </div>
  </div>
</div>
      <!-- Let's be honest and cut through the marketing bullshit, you need a website that <br> looks amazing and actually works.
            Bottom line,that's what I do. If you want to <br>learn more about working with me, take a look through my website. -->
