.Showcases-Introduction{
  width: 100%;
  padding: 150px 0px;
  font-family: 'billie';

}
#Colored-header{
  color: #ebdda3fb;

}
.Showcases-Introduction-container{
  display: flex;
  flex-direction: column;
  gap: 250px;
}
.Showcases-Introduction-content-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;

}
.Showcases-Introduction-content-container h1{
  font-size: 50px;
  width: 95%;

}

.img-container-gradient {
  width: 100%;
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#00000096, #00000046);
  z-index: 2;
}

.img-container-gradient img {
  width: 100%;
  max-height: 50%;
  position: relative;
  z-index: 1;
}
button {
  font-size: 23px;
  padding: 20px 60px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 40%;
}

button:hover {
  background-color: #fff;
  color: #000;
}
@media(max-width: 1200px){
  #Colored-header{
    font-size: 15px;
  }
 .Showcases-Introduction-container{
   gap: 150px;
 }
 .Showcases-Introduction-content-container h1{
  font-size: 30px;
  width: 95%;
 }
 button{
  width: 100%;
 }

}
