.footer-disc-containr{
  width: 100%;
  border-width: 1px 0px;
  border-color: #ebdda37c;
  border-style: solid;
  height: 80%;

}
.footer-disc-containr .row{
  margin: auto;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center
}
ul{
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: end;
}
a{
  text-decoration: none;
  color: white;
}
.footer-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-brand img{
  width: 100px;
  height: 100px;
}

.footer-disc{
  display: flex;
  gap: 30px;
}
#icon{
font-size: 22px;
transition: all 0.3s ease-in-out;
}
#icon:hover{
  color: #2484c6;
  transform: scale(1.2);
}
