.footer-disc-containr{
  width: 100%;
  border-width: 1px 0px;
  border-color: #ebdda37c;
  border-style: solid;
  height: 80%;
  margin: 10px 0px;

}
.footer-disc-containr .row{
  margin: auto;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center
}
ul{
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
}
a{
  text-decoration: none;
  color: white;
}
.footer-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-brand img{
  width: 100px;
  height: 100px;
}

.footer-disc{
  display: flex;
  gap: 30px;
  justify-content: center;
}
#icon{
font-size: 22px;
transition: all 0.3s ease-in-out;
}
#icon:hover{
  color: #2484c6;
  transform: scale(1.2);
}

@media (max-width: 1500px) {
  .header-content h1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 991px) {
  .footer-disc-containr{

  height: 90%;
  margin: 20px 0px;
  }

}
