<div class="footer-disc-containr">
  <div class="row">
    <div class="col-sm-12 col-md-12  col-lg-12 col-xl-4 col-xxl-4 footer-disc">
      <a id="email-disc" href="">{{email}}</a>
      <a id="number-dic" href="">{{number}}</a>
    </div>
    <div class="col-sm-12 col-md-12  col-lg-12 col-xl-4 col-xxl-4 footer-brand">
        <a href=""><img [src]="brand_logo" alt=""></a>
    </div>
    <div class="col-sm-12 col-md-12  col-lg-12 col-xl-4 col-xxl-4 social-links">
      <ul class="social-links-list">
        <li *ngFor="let link of links">
          <a [href]="link.link"  target="_blank"> <i id="icon" [class]="link.icon"></i></a>
        </li>
      </ul>

    </div>
  </div>
</div>
