<div>
  <app-showcases-header [ShowcasesHeaderFromParent]="ShowCasesHeaderSection"></app-showcases-header>
</div>
<div class="services-container">

  <div>
    <app-showcases-intridcution [showCasesIntroductionFromParent]="ShowCasesIntroductionSection"></app-showcases-intridcution>
  </div>

  <div>
    <app-showcases-sections [showCasesSectionsFromParent]="ShowCasesSectionsOFsection"></app-showcases-sections>
  </div>

  <div>
    <app-showcases-contact [showCasesContactFromParent]="ShowCasesContactSection"></app-showcases-contact>
  </div>
</div>
<app-footer></app-footer>
