
<div class="Home-service-section">
  <div class="row h-100">
    <div class="col-lg-5 home-services-img">
          <div class="scroll-container" >
            <img [src]="image"  alt="Scrolling Image q">
          </div>
        </div>

        <div class="col-1"></div>

        <div class="col-lg-6 home-services-content-container">
          <div class="home-services-content">
              <h1>
                {{Header}}
              </h1>
              <p>
              {{description}}
            </p>
          </div>
        </div>
  </div>
</div>
