*{
  margin: 0px;
  padding: 0px;
  font-family: monospace, serif !important;

}
a{
  text-decoration: none;
  color: white;
}

body{
  font-family: 'booni' !important;
}
h1,h2,h3,h4{
  font-family: 'booni';
}
p{
  font-family: 'Times New Roman', Times, serif;
}
