<section class="sections">
  <div class="section-item" *ngFor="let section of Sections;let i = index">
    <div class="section-content-container">
     <div class="section-number">0{{i+1}}</div>
      <div class="section-content">
          <h2>{{section.sectionTitle}}</h2>
          <p>
            {{section.sectionDescription}}
          </p>
      </div>
    </div>
    <div class="section-image-container">
      <img [src]="section.sectionImage.image" alt="Card Image">
    </div>
  </div>
</section>
