
<div class=" w-75 justify-content-center m-auto">
  <div class=" h-100 justify-content-center align-content-center text-center" >
    <p> <span>‘‘</span> have completed several professional diplomas, including a Full Stack diploma and a Mean Stack diploma, focusing on designing and developing websites with different themes,
       and deploying them online. My experience includes working with JavaScript, MySQL, PHP, Laravel,
       and Angular, along with designing database schemas using MongoDB. I have also earned a Google Data Analytics Professional Certificate,
       gaining proficiency in tools like SQL, Tableau, and R. ’’</p>
  </div>
</div>
