.header-section {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'booni';
  /* background-image: url('/assets/images/Default_a_cinematic_photograph_with_a_dramatic_dreamlike_quali_3.jpg'); Replace with the actual image path */
  background-size: cover;
  background-position: center;
}

.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 2;
}

.HeaderContentContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  height: 100%;
  padding: 250px 0px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-content h1 {
  font-size: 18rem;
  color: #fff;
  width: 100%;

}

.header-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.header-buttons button {
  font-size: 18px;
  padding: 20px 50px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 200px;
  height: 70px;
}

.header-buttons .btn-outline:hover {
  background-color: #fff;
  color: #000;
}

.header-buttons .btn-play {
  background-color: #fff;
  color: #000;
}

.header-buttons .btn-play:hover {
  background-color: transparent;
  color: #fff;
}

/* Responsive Styling */

@media (max-width: 1500px) {
  .header-content h1 {
    font-size: 8rem;
  }

  .header-buttons button {
    font-size: 14px;
    padding: 15px 40px;
    width: 150px;
    height: 55px;
  }
}



@media (max-width: 991.98px) {
  .header-content h1 {
    font-size: 4.5rem;
  }

  .header-buttons button {
    font-size: 14px;
    padding: 15px 40px;
    width: 150px;
    height: 55px;
  }
}

@media (max-width: 767.98px) {
  .header-content h1 {
    font-size: 3.5rem;
  }

  .header-buttons button {
    font-size: 12px;
    padding: 10px 30px;
    width: 130px;
    height: 45px;
  }
}

@media (max-width: 575.98px) {
  .header-content h1 {
    font-size: 2.5rem;
  }

  .header-buttons button {
    font-size: 11px;
    padding: 8px 25px;
    width: 120px;
    height: 40px;
  }
}
