<div class="header-section" data-aos="fade-down" data-aos-duration="1000">
  <video id="background-video" autoplay loop muted>
    <source [src]="video" type="video/mp4">
  </video>
  <app-navbar></app-navbar>
  <div class="HeaderContentContainer">
    <div class="header-content">
      <h1>{{header}} </h1>
    </div>
    <div class="header-buttons">
      <button data-aos="fade-right" class="btn-outline">About me</button>
      <button data-aos="fade-left" class="btn-play">Contact me</button>
    </div>
  </div>
</div>
