a{
  text-decoration: none;
  color: white;
  }
  ul {
    list-style-type: none;
  }
  .navbar{
    width: 100%;
    border-bottom: 1px  #ffffff7c solid;
    z-index: 2;
  }

  .nav-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  .navbar-brand img{
    width: 100px;
    height: 100px;
  }
  .navbar-list{
    gap: 35px;
    color: white;
    list-style: none;
  }
  .navbar-list li{
    transition: ease all;
    position: relative;
    overflow: hidden;
  }
  .navbar-list a{
    font-size: 15px;
    transition: ease all;
  }
  .nav-end p{
    font-size: 18px;
  }
  .active h6{
    font-size: 18px;
    color: #ebdda3;
    transition: all 0.5s ease;
  }
  li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ebdda37c;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
  li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  li:not(:hover)::before {
    transform: scaleX(0);
    transform-origin: right;
  }
button {
  font-size: 12x;
  padding: 20px 60px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 70%;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
