<div class="brief" [ngStyle]="{'background-image': 'url(' + image+ ')'}">
  <div class="breif-gradiant">
    <div class="brief-container">
      <h1>{{header}}</h1>
      <h4 class="w-75">{{description}}</h4>
      <button (click)="onDownloadCv()">Download Cv</button>
    </div>
  </div>
</div>
<!-- My goal is to continue growing as a Full-Stack Developer, taking on challenging projects that allow me to apply my
        technical skills and creativity to solve real-world problems. I am committed to lifelong learning and staying updated with the latest technologies,
        aiming to contribute to impactful and sustainable projects in the field of computer science< -->
