/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(0, 0, 0) !important;
}
@font-face {
  font-family: 'booni';
  src: url('/assets/fonts/booni/bodoni_Serif.ttf') ;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'booniItalic';
  src: url('/assets/fonts/booni/LibreBodoni-Italic.ttf') ;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sansItalic';
  src: url('/assets/fonts/serirf/OpenSans-Italic.ttf') ;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sans';
  src: url('/assets/fonts/serirf/OpenSans.ttf') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'billie';
  src: url('/assets/fonts/billie/billie eilish.ttf') ;
}

