<app-nav-dashboard></app-nav-dashboard>
<div class="body">
  <div class="form-container">
    <form (ngSubmit)="onSFormSubmit()" [formGroup]="homeForm">

      <h2>Home Form</h2>

      <!-- Home Header -->
      <div class="form-group">
        <label for="text">Home-Header Title</label>
        <input type="text" placeholder="Home header Title"  formControlName="homeHeaderTitle" name="homeHeaderTitle">
        <label for="">Home Header Image</label>
        <input id="homeHeaderImage" type="file"  (change)="onFileChange($event,'homeHeaderImage')">
      </div>

      <!-- Home-About  Input -->
      <div class="form-group">
        <label for="text">Home-about Title</label>
        <input type="text" placeholder="Home About Title"  formControlName="homeAboutTitle" name="homeAboutTitle">
        <!-- Home  ABOUT - description -->
        <label for="">Home About description</label>
        <textarea name="homeAboutDescription" id="homeAboutDescription" formControlName="homeAboutDescription" placeholder="Write Description here"></textarea>
        <label for="">Home About Image</label>
        <input id="homeAboutImage" type="file"  (change)="onFileChange($event,'homeAboutImage')">

      </div>
      <!-- Home services Input -->
      <div class="form-group">
        <label for="">Home services Title</label>
        <input type="text" placeholder="Home About Services" formControlName="homeServicesTitle" name="homeServicesTitle">
        <div class="msg" *ngIf="homeForm.get('homeServicesTitle')!.invalid && homeForm.get('homeServicesTitle')!.touched">
          <div *ngIf="homeForm.get('homeServicesTitle')?.errors?.['required']">
                *Home Services Header is required
          </div>
        </div>
        <!-- Home  service - description -->
        <label for="">Home services description</label>
         <textarea name="homeServicesDescription" id="homeServicesDescription" formControlName="homeServicesDescription" placeholder="Write Description here"></textarea>
          <!-- Home  service - Image -->
         <label for="">Home Services Image</label>
          <input id="homeServicesImage" type="file"  (change)="onFileChange($event,'homeServicesImage')">
      </div>


      <!-- Home Cards Input -->
      <div class="form-group">
        <label for="">Home Cards Title</label>
        <input type="text" placeholder="Home Cards Title" formControlName="homeCardsTitle" name="homeCardsTitle">
      </div>

      <div class="form-group" formArrayName="homeCards">
        <label for="">Home Cards</label>
        <div *ngFor="let Card of getCards.controls; let i = index" [formGroupName]="i">
          <label for="">Card {{i+1}}</label>
          <input type="text" placeholder="Card Title" formControlName="cardTitle" />
          <textarea name=""  placeholder="Card Description" formControlName="cardDescription"></textarea>
        </div>
         <button type="button" class="btn " (click)="addCard()">Add New Card</button>
      </div>

      <!-- Home Brief Input -->
      <div class="form-group">
        <label for="">Home Brief Title</label>
        <input type="text" placeholder="Home Brief " formControlName="homeBriefTitle" name="homeBriefTitle">

        <input id="homeBriefImage" type="file"  (change)="onFileChange($event,'homeBriefImage')">
      </div>

      <!-- Home Blogs -->
      <div class="form-group" formArrayName="homeBlogs">
        <label for=""> Home Blogs</label>
        <div *ngFor="let blog of getBlogs.controls; let i = index" [formGroupName]="i">
          <label for="">Blog {{i + 1}}</label>
          <input type="text" placeholder="Blog Title" formControlName="homeBlogTitle">
          <textarea  formControlName="homeBlogDescription" placeholder="Blog Description" id="homeBlogDescription"></textarea>
          <input id="homeBlogImage_{{i}}" type="file" (change)="onFileChange($event, 'homeBlogImage', i)">
        </div>
        <button type="button" class="btn" (click)="addBlog()">Add New Blog</button>
      </div>


      <!-- Submit Button -->
      <div class="form-group">
        <input type="submit" value="Submit Form"/>
      </div>
    </form>
  </div>
</div>
