.hide-scrollbar {
  overflow: scroll;
}
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.blog-home{
  height: 120vh;
  margin: 40px 0px;

}
.blog-home-card{
  height: 100%;
  background-color: transparent;
}
.card{
  height: 100%;
  color: white;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card img{
  height: 85%;
}
.blog-title{
  font-size: 40px;
}
.blog-disc{
  font-size: 15px;
}
.blog-button{
  button {
    font-size: 15px;
    padding: 12px 20px;
    width: 180px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    transition: all 0.3s ease;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  button a{
    text-decoration: none;
    color: white;
  }

}


