<div class="blog-home hide-scrollbar">
  <div class="swiper-container h-100 row">
    <div class="swiper-wrapper h-100">
      <div class="swiper-slide blog-home-card col-lg-4" *ngFor="let blog of blogs">
        <div class="card">
          <img [src]="blog.image" alt="Card Image">
          <div class="card-content">
            <h1 class="blog-title">{{ blog.title }}</h1>
            <p class="blog-disc">{{ blog.description }}</p>
            <div class="blog-button">
                <button><a href="">Read more</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
